@import "../../variables";

.Find {
  h2 {
    margin: $padding $padding 0;
  }

  form {
    input {
      background: $background;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: $white;
      font-family: Muli, sans-serif;
      font-size: 1.125em;
      font-weight: 700;
      padding: $padding;
      text-decoration: none;
      transition: background 0.1s ease-out;
      width: 100%;

      &:active,
      &:focus,
      &:hover {
        background: $dark-background;
      }
    }
  }

  a.button {
    margin: $padding $padding 0;

    &:not(:first-child) {
      margin-top: $spacing;
    }
  }
}
