@import "../../variables";

.Find {
  h2 {
    margin: $padding $padding 0;
  }

  form {
    padding: $padding;

    input {
      padding: $spacing;
      width: 100%;
    }
  }

  a.button {
    margin: $padding $padding 0;

    &:not(:first-child) {
      margin-top: $spacing;
    }
  }
}
