@import "../../variables";

.Movies {
  .ItemGrid {
    display: none;
  }

  .VerticalSlide {
    display: block;
  }

  @media only screen and (min-width: $br-phone) {
    .ItemGrid {
      display: grid;
    }

    .VerticalSlide {
      display: none;
    }
  }
}
