@import "../../variables";

.Person {
  &__details {
    align-items: center;
    display: flex;
    padding: 5em $padding $spacing;

    @media only screen and (min-width: $br-phablet) {
      padding-top: 10em;
    }

    @media only screen and (min-width: $br-tablet) {
      padding-top: 20em;
    }

    .Cover {
      height: 6em;
      max-width: 100px;

      @media only screen and (min-width: $br-tablet) {
        height: 10em;
        max-width: 300px;
      }
    }

    &__wrapper {
      margin-left: $spacing;

      @media only screen and (min-width: $br-tablet) {
        margin-left: $padding;
      }

      h1 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }

  h2 {
    margin: $padding $padding 0;
  }

  &__details,
  &__movies,
  &__seasons {
    margin: 0 auto;
    max-width: $max-width;
  }
}
