@import "../variables";

.Loading {
  align-items: center;
  background: $background;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-overlay;

  &__wrapper {
    text-align: center;
    width: 100%;

    .Icon {
      height: 4rem;
    }
  }
}
