@import "../variables";

.Welcome {
  h1 {
    font-size: 2.5em;
    margin: 2em 0 0;
    text-align: center;

    @media only screen and (min-width: $br-phone) {
      font-size: 4em;
      line-height: 1;
    }

    @media only screen and (min-width: $br-phablet) {
      font-size: 5em;
    }

    @media only screen and (min-width: $br-laptop) {
      font-size: 7em;
    }
  }

  &__backdrop {
    height: 100vh;
    margin: -2em;
    overflow-x: clip;
    position: fixed;
    width: 200%;

    @media only screen and (min-width: $br-phone) {
      margin: -2em;
      width: 125%;
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 3.125em;
    position: relative;
  }

  &__details {
    margin-top: 8em;
    max-width: 31.25em;
    padding: 0 0 3.125em;
    text-align: center;

    @media only screen and (min-width: $br-laptop) {
      font-size: 1.25em;
    }

    &__actions {
      margin-top: 1em;

      @media only screen and (min-width: $br-phone) {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      a.button {
        width: auto;

        &:not(:first-of-type) {
          margin-top: $spacing;

          @media only screen and (min-width: $br-phone) {
            margin-left: $spacing;
            margin-top: 0;
          }
        }
      }
    }
  }
}
