@import "../variables";

.Backdrop {
  position: absolute;
  width: 100%;
  z-index: $z-back;

  img {
    width: 100%;
  }

  &::after {
    background:
      linear-gradient(
        to bottom,
        rgb($background 0) 0%,
        rgb($background 0.013) 8.1%,
        rgb($background 0.049) 15.5%,
        rgb($background 0.104) 22.5%,
        rgb($background 0.175) 29%,
        rgb($background 0.259) 35.3%,
        rgb($background 0.352) 41.2%,
        rgb($background 0.45) 47.1%,
        rgb($background 0.55) 52.9%,
        rgb($background 0.648) 58.8%,
        rgb($background 0.741) 64.7%,
        rgb($background 0.825) 71%,
        rgb($background 0.896) 77.5%,
        rgb($background 0.951) 84.5%,
        rgb($background 0.987) 91.9%,
        $background 100%
      );
    content: "";
    height: calc(#{100%} - 5px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
