@import "./../variables";

.Cover {
  position: relative;

  &__progress {
    background: $highlight;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    height: 5px;
    position: absolute;
    width: 0%;
    z-index: 1;
  }

  &__image {
    --box-shadow-color: #{$background};
    border-radius: 5px;
    box-shadow: 0 3px 30px var(--box-shadow-color);
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
