@import "../variables";

.EpisodeEntry {
  cursor: pointer;
  display: flex;
  margin-top: $spacing;
  text-align: left;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &__number {
    font-size: 1.25rem;
    font-weight: 900;
    min-width: 1.5rem;
    text-align: right;
  }

  &__details {
    margin-left: $spacing;

    h2 {
      margin: 0 0 0.1em;
    }

    p {
      max-width: 500px;

      &.small {
        margin: 0;
      }
    }
  }
}
