@import "./../variables";

.Nav {
  align-items: center;
  background: $background;
  bottom: 0;
  box-shadow: 0 3px 20px $black;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1;

  a,
  button {
    svg {
      polygon,
      polyline,
      path,
      rect,
      line,
      circle {
        stroke: $white !important;
        transition: stroke 0.1s ease-out;
      }
    }

    &:hover,
    &:active,
    &.active {
      svg {
        polygon,
        polyline,
        path,
        rect,
        line,
        circle {
          stroke: $highlight !important;
        }
      }
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0 7px 0;
    width: auto;
    height: auto;
  }
}
