@import "../variables";

.Nav {
  align-items: center;
  background: $background;
  bottom: 0;
  box-shadow: 0 3px 20px rgba($black, 0.4);
  display: flex;
  height: $nav;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1;

  a,
  button {
    line-height: 0;
    text-align: center;

    p {
      color: $white;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1;
      margin: 0.5rem 0 0;
    }

    .Icon {
      height: 1.2rem;
      width: 1.2rem;

      polygon,
      polyline,
      path,
      rect,
      line,
      circle {
        stroke: $white !important;
        transition: stroke 0.1s ease-out;
      }
    }

    &:active,
    &:hover,
    &.active {
      p {
        color: $highlight !important;
      }

      svg {
        polygon,
        polyline,
        path,
        rect,
        line,
        circle {
          stroke: $highlight !important;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: auto;
  }
}
