@import "../variables";

.Nav {
  background: $light-background;
  bottom: 0;
  box-shadow: 0 3px 20px rgb($black, 0.4);
  left: 0;
  overflow-x: auto;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: $z-front;

  &__wrapper {
    align-items: center;
    display: flex;
    height: $nav;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 30em;
    min-width: 22em;
    width: 100%;
  }

  a,
  button {
    line-height: 0;
    text-align: center;

    p {
      color: $white;
      font-size: 0.875em;
      font-weight: 700;
      line-height: 1;
      margin: 0.5em 0 0;
    }

    .Icon {
      height: 1.2em;
      width: 1.2em;

      polygon,
      polyline,
      path,
      rect,
      line,
      circle {
        stroke: $white !important;
        transition: stroke 0.1s ease-out;
      }
    }

    &:active,
    &:hover,
    &.active {
      p {
        color: $highlight !important;
      }

      svg {
        polygon,
        polyline,
        path,
        rect,
        line,
        circle {
          stroke: $highlight !important;
        }
      }
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: auto;
  }
}
