@import "../variables";

.Player {
  background: $black;
  min-height: 100vh;

  &__content {
    padding: $padding;

    button {
      width: auto;
    }

    &__header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      h1 {
        margin: 0;
      }
    }

    &__reload {
      margin-top: 2em;

      p {
        max-width: 22em;
      }
    }
  }
}
