@import "../variables";

.Player {
  background: $black;
  min-height: 100vh;

  &__content {
    padding: $padding;

    button {
      width: auto;
    }

    &__header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 1.5em;
        margin: 0;
      }

      &__actions {
        align-items: center;
        display: flex;

        & > :not(:first-child) {
          margin-left: 0.35em;
        }

        & > a {
          font-size: 0.8em;
        }
      }
    }
  }
}
