@import "./../variables";

$plyr-color-main: $highlight;
$plyr-color-gunmetal: $background;
$plyr-color-fiord: $background;
$plyr-color-lynch: $light;
$plyr-color-heather: $light;

$plyr-badge-bg: $background;
$plyr-badge-color: $white;

$plyr-captions-bg: rgba($black, 0.8);
$plyr-captions-color: $white;

$plyr-video-controls-bg: $black;
$plyr-video-control-color: $white;
$plyr-video-control-color-hover: $white;
$plyr-video-control-bg-hover: $highlight;

$plyr-audio-controls-bg: $dark;
$plyr-audio-control-color: $light;
$plyr-audio-control-color-hover: $white;
$plyr-audio-control-bg-hover: $highlight;

$plyr-tab-focus-default-color: $highlight;

$plyr-menu-bg: $background;
$plyr-menu-color: $white;
$plyr-menu-border-color: $background;
$plyr-menu-border-shadow-color: $background;
$plyr-menu-shadow: 0 1px 2px rgba($background, 0.16);

$plyr-progress-loading-bg: rgba($background, 0.6);
$plyr-video-progress-buffered-bg: rgba($white, 0.25);
$plyr-audio-progress-buffered-bg: rgba($white, 0.25);

$plyr-range-thumb-bg: $white;
$plyr-range-thumb-shadow: 0 1px 1px rgba($white, 0.16), 0 0 0 1px rgba($black, 0.16);
$plyr-range-fill-bg: $highlight;
$plyr-video-range-track-bg: rgba($white, 0.25);
$plyr-audio-range-track-bg: rgba($white, 0.25);
$plyr-audio-range-thumb-shadow-color: rgba($dark, 0.16);

$plyr-tooltip-bg: rgba($white, 0.9);
$plyr-tooltip-color: $black;
$plyr-tooltip-shadow: 0 1px 2px rgba($black, 0.16);
