@import "../variables";

.ProviderButton {
  & > button {
    border: none;
    border-radius: 2em;
    padding: $padding;
    width: auto;

    &:disabled {
      border-style: dashed;
      cursor: not-allowed;
      opacity: 0.5;
    }

    .Icon {
      height: 2.25em;
    }

    h3 {
      margin: 0;
      margin-left: $spacing;
    }
  }

  &.large > button {
    width: 100%;
  }
}
