@import "../variables";

.ProviderButton {
  & > button {
    border: none;
    border-radius: 50%;
    padding: $padding;
    width: auto;

    &:disabled {
      border-style: dashed;
      cursor: not-allowed;
      opacity: 0.5;
    }

    .Icon {
      height: 2.25em;
    }
  }
}
