@import "../variables";

.Season {
  .PlyrPlayer {
    display: none;
  }

  &__details {
    padding: $padding;

    @media only screen and (min-width: $br-laptop) {
      margin: 0 auto;
      max-width: 1600px;
      padding: 5rem $padding;
    }

    .Cover {
      max-width: 300px;

      @media only screen and (min-width: $br-tablet) {
        max-width: 300px;
      }
    }

    h1 {
      margin: 0.4em 0 0.1em;
    }
  }

  &__information {
    display: flex;

    p {
      line-height: 1.58;
      margin: 0;

      &:not(:first-child) {
        margin-left: $padding;
      }
    }
  }

  &__actions {
    margin: 1.5625rem 0 $spacing;

    a.button,
    button {
      &:not(:first-child) {
        margin-top: $spacing;
      }
    }

    @media only screen and (min-width: $br-phone) {
      align-items: center;
      display: flex;

      a.button,
      button {
        width: auto;

        &:not(:first-child) {
          margin-left: $spacing;
          margin-top: 0;
        }
      }
    }
  }

  &__episodes {
    margin-bottom: $padding;
    text-align: center;

    @media only screen and (min-width: $br-phone) {
      text-align: left;
    }

    & > div {
      display: grid;
      grid-gap: $spacing;

      @media only screen and (min-width: $br-phablet) {
        grid-template-columns: 1fr 1fr;
      }

      .Season__episode {
        cursor: pointer;
        display: flex;
        margin-top: $spacing;
        text-align: left;

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.5;
        }

        &__number {
          font-size: 1.25rem;
          font-weight: 900;
          min-width: 1.5rem;
          text-align: right;
        }

        &__details {
          margin-left: $spacing;

          h2 {
            margin: 0 0 0.1em;
          }

          p {
            max-width: 500px;

            &.small {
              margin: 0;
            }
          }
        }
      }
    }

    & > span {
      color: $light;
      cursor: pointer;
    }
  }

  &__overview {
    max-width: 800px;
  }

  &__people {
    display: grid;
    grid-gap: $spacing;

    @media only screen and (min-width: $br-phablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
