@import "../variables";

.Settings {
  h2 {
    margin: 0;
  }

  section:not(.Settings__auth) {
    padding: $padding;

    p {
      margin: 0.3em 0 1em;
    }
  }

  &__auth {
    padding-top: $padding;

    h2,
    p {
      margin-left: $padding;
      margin-right: $padding;
    }

    p {
      margin-bottom: 0;
      margin-top: 0.3em;
    }

    &__scroll {
      overflow-x: auto;
    }

    &__flex {
      display: flex;
      float: left;
      padding: $padding;

      button {
        border: 0.1875rem solid $dark;
        border-radius: 50%;
        padding: 1.5625rem;
        width: auto;

        &:not(:first-child) {
          margin-left: $spacing;
        }

        &:disabled {
          border-style: dashed !important;
          cursor: not-allowed;
        }

        &.primary {
          border: 0.1875rem solid $highlight;
        }

        &.warn {
          background: $warn;
          border: 0.1875rem solid $warn;

          &:active,
          &:focus,
          &:hover {
            box-shadow: 0 0 10px rgba($warn, 1);
          }
        }

        .Icon {
          height: 2rem;
        }
      }

      button:disabled {
        background: $background;
        border: 0.1875rem solid $dark;
        opacity: 0.5;
      }
    }
  }

  &__indexing {
    &__actions {
      button {
        width: auto;

        &:not(:first-child) {
          margin-top: $padding;
        }
      }

      @media only screen and (min-width: $br-phone) {
        align-items: center;
        display: flex;

        button {
          width: auto;

          &:not(:first-child) {
            margin-left: $spacing;
            margin-top: 0;
          }
        }
      }
    }
  }

  &__version {
    p {
      margin-bottom: 1em !important;

      &.small {
        margin: 0 !important;
      }
    }
  }
}
