@import "../variables";

.VerticalSlide {
  padding: 0 $padding;

  .swiper-container {
    height: calc(100vh - #{$nav});
    width: 100%;

    .swiper-slide {
      &.swiper-slide-active img {
        opacity: 1;
      }

      &.swiper-slide-next img,
      &.swiper-slide-prev img {
        opacity: 0.75;
      }

      a {
        line-height: 0;
      }

      img {
        opacity: 0.5;
        transition: opacity 0.25s ease-out;
        width: 100%;
      }
    }
  }
}
