@import "../variables";

.ForYou {
  h2 {
    margin: 0 $padding;
  }

  section:first-child {
    h2 {
      margin-top: $padding;
    }
  }

  a.button {
    margin: $padding $padding 0;

    &:not(:first-child) {
      margin-top: $spacing;
    }
  }
}
