.Movies {
  &__index {
    padding: 20px;

    h2:first-child {
      margin-top: 0.2em;
    }

    &__title {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
