@import "../variables";

.Movie {
  .PlyrPlayer {
    display: none;
  }

  &__backdrop {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__details {
    padding: $padding;

    h1 {
      margin: 0.4em 0 0.1em;
    }
  }

  &__information {
    display: flex;

    p {
      line-height: 1.58;
      margin: 0;

      &:not(:first-child) {
        margin-left: $padding;
      }
    }
  }

  &__actions {
    margin: 25px 0;

    a.button,
    button {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  &__starring,
  &__crew {
    margin: 30px 0;

    &:last-child {
      margin-bottom: 0;
    }

    & > span {
      color: $light;
      cursor: pointer;
      display: block;
      margin-top: 0.5em;
    }

    p {
      margin: 0.2em 0;

      span {
        &:first-child {
          margin-right: 0.35em;
        }

        &:last-child {
          margin-left: 0.35em;
        }
      }
    }
  }
}
