@import "../variables";

.Movie {
  .PlyrPlayer {
    display: none;
  }

  &__backdrop {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__details {
    padding: $padding;

    h1 {
      margin: 0.4em 0 0.1em;
    }
  }

  &__information {
    display: flex;

    p {
      line-height: 1.58;
      margin: 0;

      &:not(:first-child) {
        margin-left: $padding;
      }
    }
  }

  &__actions {
    margin: 25px 0;

    a.button,
    button {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  &__crew,
  &__cast {
    margin: 30px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sources {
    background: $dark;
    margin-top: $spacing;
    padding: 25px $padding;

    & > div {
      display: flex;

      & > div {
        width: 100%;
      }
    }

    h4 {
      margin: 0 0 0.1em;
    }

    h5 {
      margin: 1em 0 0.1em;
    }

    p {
      margin: 0.2em 0;
    }
  }
}
