@import "../variables";

.Show {
  &__details {
    padding: $padding;

    .Cover {
      max-width: 300px;
      min-height: 300px;

      @media only screen and (min-width: 1200px) {
        max-width: 300px;
      }
    }

    h1 {
      margin: 0.4em 0 0.1em;
    }
  }

  &__information {
    display: flex;

    p {
      line-height: 1.58;
      margin: 0;

      &:not(:first-child) {
        margin-left: $padding;
      }
    }
  }

  &__overview {
    max-width: 800px;
  }

  &__seasons {
    h2 {
      margin: 0 $padding;
    }
  }
}
