@import "../variables";

.Welcome {
  h1 {
    font-size: 2.25rem;
    margin: 2.25rem $padding 0;
  }

  &__details {
    bottom: 0;
    padding: $padding;
    position: absolute;

    h3 {
      margin-bottom: $padding;
    }

    a.button {
      &:not(:first-of-type) {
        margin-top: $spacing;
      }
    }
  }

  @media only screen and (min-width: 600px) {
    margin: 3.125rem;

    h1 {
      margin: 0;
    }

    &__details {
      max-width: 31.25rem;
      padding: 0 0 3.125rem;

      a.button {
        float: left;
        width: auto;

        &:not(:first-of-type) {
          margin-left: $spacing;
          margin-top: 0;
        }
      }
    }
  }
}
