@import "./../../variables";

.Movies {
  .Movie {
    #player {
      display: none;
    }

    &__backdrop {
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    &__details {
      padding: 20px;

      h1 {
        margin: 0.3em 0 0;
      }
    }

    &__poster {
      border-radius: 5px;
      box-shadow: 0 3px 20px rgba($black, 0.16);
      width: 50%;
    }

    &__information {
      display: flex;

      p {
        line-height: 1.58;
        margin: 0;

        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }

    &__actions {
      margin: 25px 0;

      a.button,
      button {
        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }

    &__starring,
    &__crew {
      margin: 30px 0;

      p {
        margin: 0.2em 0;

        span {
          &:first-child {
            margin-right: 0.5em;
          }

          &:last-child {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}
