@import "../../variables";

.FTPProviderForm {
  label {
    p.small {
      margin: 0;
      margin-bottom: 0.25em;
    }
  }

  &__input {
    align-items: center;
    display: flex;
    margin-bottom: $padding;

    input {
      margin-top: $border-radius;
      width: 100%;
    }

    .Icon {
      margin-left: $spacing;
      opacity: 0.2;
    }

    &.warn {
      .Icon {
        opacity: 1;

        g,
        path {
          fill: $warn;
        }
      }
    }

    &.valid {
      .Icon {
        opacity: 1;

        g,
        path {
          fill: $success;
        }
      }
    }
  }

  &__checkbox {
    align-items: baseline;
    display: flex;
    margin-bottom: $padding;

    input {
      margin-right: $spacing;
    }
  }
}
