@import "../../variables";

.Icon.SoundWave {
  height: auto;
  max-height: 20vh;
  max-width: 25vw;
  stroke-linecap: inherit;
  stroke-linejoin: inherit;
  stroke-miterlimit: inherit;
  stroke-width: inherit;
}
