/* Colors */
$white: #fff;
$light: #dadbe2;
$background: #17181f;
$dark: #262833;
$black: #000;
$highlight: #ff2fc1;
$warn: #fe8a27;
$success: #27fe4b;

/* Sizes */
$border-radius: 0.3125rem;
$padding: 1.25rem;
$spacing: 0.9375rem;
$nav: 4.375rem;

/* Icons */
$icon-size: 2em;
$icon-stroke-linecap: round;
$icon-stroke-width: 0.125em;

/* z-index */
$z-back: -1;
$z-base: 0;
$z-front: 1;
$z-overlay: 2;
$z-loading: 3;
$z-notification: 4;

/* Breakpoints */
$br-phone: 600px;
$br-phablet: 800px;
$br-tablet: 1200px;
$br-laptop: 1600px;
$br-desktop: 2000px;
