@import url("https://fonts.googleapis.com/css?family=Muli:600,700,900");
@import "swiper/swiper";
@import "./plyr";
@import "./variables";

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: $background;
  color: $white;
  font-family: Muli, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.58;

  @media only screen and (min-width: $br-phone) {
    font-size: 18px;
  }

  @media only screen and (min-width: $br-desktop) {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: $white;

  // font-weight: 700;
  text-decoration: none;
  transition: color 0.1s ease-out;

  &:active,
  &:focus,
  &:hover {
    color: $highlight;
  }
}

a.button,
button {
  align-items: center;
  background: $dark;
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 6px rgb($dark 0.16);
  color: $white;
  cursor: pointer;
  display: flex;
  font-family: Muli, sans-serif;
  font-size: 1em;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  opacity: 1;
  padding: 1em 1.5625em;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.15s ease-out;
  width: 100%;

  @media only screen and (min-width: $br-laptop) {
    font-size: 0.875em;
  }

  &:active,
  &:focus,
  &:hover {
    box-shadow: 0 4px 10px rgb($dark 0.7);
    top: -0.125em;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &.primary {
    background: $highlight;
    box-shadow: 0 0 6px rgb($highlight 0.16);

    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 0 10px rgb($highlight 0.7);
    }
  }

  &.warn {
    background: $warn;
    box-shadow: 0 0 6px rgb($warn 0.16);

    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 0 10px rgb($warn 0.7);
    }
  }

  &.secondary {
    background: transparent !important;
    border: 0.125em solid $dark;

    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 4px 10px rgb($dark 0.5);
    }
  }

  &.small {
    font-size: 0.9em;
    padding: 0.5em 0.5625em;

    @media only screen and (min-width: $br-laptop) {
      font-size: 0.8em;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5em;
}

h1 {
  color: $white;
  font-size: 1.875em;
  font-weight: 900;
  line-height: 1.4;

  @media only screen and (min-width: $br-tablet) {
    font-size: 2.5em;
  }
}

h2 {
  color: $white;
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  color: $white;
  font-size: 1.125em;
  font-weight: 700;
}

h4 {
  color: $white;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  color: $white;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: $light;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.75;

  &.small {
    color: $light;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.4;
  }

  & > span {
    &.bold {
      font-weight: 900;
    }
  }
}

input {
  background: $dark;
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 6px rgb($dark 0.16);
  color: $white;
  font-family: Muli, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  padding: 0.8125em;
  text-decoration: none;

  @media only screen and (min-width: $br-laptop) {
    font-size: 0.875em;
  }

  &::placeholder {
    color: $light;
  }
}

select {
  background: $dark;
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 6px rgb($dark 0.16);
  color: $white;
  font-family: Muli, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  padding: 0.8125em;
  text-decoration: none;

  @media only screen and (min-width: $br-laptop) {
    font-size: 0.875em;
  }
}
