@import "plyr/src/sass/plyr.scss";
@import "./variables";

.plyr {
  --plyr-color-main: #{$highlight};
  --plyr-badge-background: #{$background};
  --plyr-badge-text-color: #{$light};
  --plyr-badge-border-radius: #{$border-radius};
  --plyr-captions-background: #{rgb($black, 0.8)};
  --plyr-captions-text-color: #{$white};
  --plyr-control-icon-size: 1em;
  --plyr-control-spacing: 0.625em;
  --plyr-control-radius: #{$border-radius};
  --plyr-video-control-color: #{$light};
  --plyr-video-control-color-hover: #{$white};
  --plyr-video-control-background-hover: transparent;
  --plyr-menu-background: #{rgb($dark, 0.9)};
  --plyr-menu-color: #{$light};
  --plyr-menu-shadow: #{0 0 6px rgb($black 0.16)};
  --plyr-menu-radius: #{$border-radius};
  --plyr-menu-arrow-color: #{$light};
  --plyr-menu-back-border-color: transparent;
  --plyr-menu-back-border-shadow-color: transparent;
  --plyr-progress-loading-size: 1.5em;
  --plyr-progress-loading-background: rgb(35 40 47 / 60%);
  --plyr-video-progress-buffered-background: rgb(255 255 255 / 25%);
  --plyr-audio-progress-buffered-background: rgb(193 200 209 / 60%);
  --plyr-range-thumb-height: 0.625em;
  --plyr-range-thumb-background: #{$white};
  --plyr-range-track-height: 0.25em;
  --plyr-tooltip-background: #{rgb($dark, 0.9)};
  --plyr-tooltip-color: #{$light};
  --plyr-tooltip-radius: #{$border-radius};
  --plyr-font-family: "Muli", sans-serif;
  --plyr-font-size-base: 1em;
  --plyr-font-size-small: 0.75em;
  --plyr-font-size-badge: 0.625em;
  --plyr-font-weight-regular: normal;
  --plyr-font-weight-bold: bold;

  button,
  input {
    box-shadow: none;

    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
      top: 0;
    }
  }

  &__control {
    &[role="menuitemradio"] {
      &::after {
        display: none;
      }

      &::before {
        height: 0.625em !important;
        width: 0.625em !important;
      }
    }

    &[aria-checked="true"] {
      &::before {
        background: $highlight !important;
      }
    }
  }
}
